// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@500&display=swap');

// Rubik 500
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
//Museo Sans
@font-face {
    font-family: Museo;
    weight: 500;
    src: url(/fonts/MuseoSans/MuseoSans-500.woff2) format("woff2");
  }
  
  @font-face {
    font-family: Museo;
    weight: 700;
    src: url(/fonts/MuseoSans/MuseoSans-700.woff2) format("woff2");
  }
  
  @font-face {
    font-family: Museo;
    weight: 300;
    src: url(/fonts/MuseoSans/MuseoSans-300.woff2) format("woff2");
  }

  //Fonts: https://nomail.com.ua/font/Museo%20Sans%20Cyrillic