.examples__list-active {
  @apply text-brand; }
  .examples__list-active::after {
    @apply h-[2px] left-0 right-0 bottom-[1px] w-auto; }

.examples__cards-scroll {
  /* Handle */ }
  .examples__cards-scroll::-webkit-scrollbar {
    width: 20px; }
  .examples__cards-scroll::-webkit-scrollbar-track {
    background: transparent; }
  .examples__cards-scroll::-webkit-scrollbar-thumb {
    border: 2px solid #FFB000;
    background: url("/img/examples/scrollbar-img.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
